@font-face {
  font-family: 'Futura Now Headline';
  font-style: normal;
  font-weight: 100 900;
  src: url('../app/assets/fonts/FuturaNowHeadline-CnXBd.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../app/assets/fonts/Inter-Medium.ttf') format('truetype');
}
